{% extends "base.html" %}

{% block title %}Examen de Práctica{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Examen de Práctica Automático</h2>
        <p class="lead mb-0">Alumno: {{ usuario.nombre }}</p>
    </div>
    <p>Se han generado 10 preguntas aleatorias. Selecciona tus respuestas y presiona "Enviar Examen".</p>
    <hr>

    <form action="{{ url_for('main.submit_practice') }}" method="POST">
    
        {% for pregunta in preguntas %}
        
        {% set pregunta_index = loop.index0 %}

        <div class="card shadow-sm mb-3">
            <div class="card-header">
                <h4 class="mb-0">Pregunta {{ loop.index }}</h4>
            </div>
            
            <div class="card-body">
                <div class="pregunta-container fs-5 mb-3">
                    {{ pregunta.enunciado_latex | safe }}
                </div>
                
                <hr>
                
                <ul class="list-group list-group-flush">
                    {% for opcion in pregunta.opciones %}
                    <li class="list-group-item fs-5">
                        
                        <input class="form-check-input me-2" type="radio" 
                               name="pregunta-{{ pregunta_index }}" 
                               id="opcion-{{ pregunta_index }}-{{ loop.index0 }}"
                               value="{{ loop.index0 }}"
                               required> 
                               
                        <label class="form-check-label" for="opcion-{{ pregunta_index }}-{{ loop.index0 }}">
                           {{ opcion | safe }}
                        </label>
                    </li>
                    {% endfor %} </ul>

            </div>
        </div>
        {% endfor %} <div class="d-grid mt-4 mb-5">
            <button type="submit" class="btn btn-success btn-lg">
                Enviar Examen y Calificar
            </button>
        </div>
    </form>

{% endblock %}